@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins&display=swap');

/*Colors go here*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EBE6F7;
    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
    color: var(--brown);
}

nav {
    list-style: none;
    font-weight: bold;
}

/*Navigation*/
.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--green);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

@media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
    
  .nav-list {
      margin: 0 1rem;
    }
}

ul {
    list-style: none;
}

.nav-list a {
    display: block;
    font-size: 1.2rem;
    padding: 2rem;
}

#page-wrapper {
    position: relative;
}

.logo {
    font-family: Playball, cursive;
    margin: 2.9rem;
}
/*Home Page */
.home-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 325px;
  margin: 100px;
  justify-content: left;
  align-items: center;
}

.tag-line {
    left:15%;
    width: 40px;
    align-content: center;
    margin-left: 15px;
    font-size: 2.2rem;
    white-space: nowrap;
}

.home-img img{
    width: 600px;
    float: right;
    margin-top: 0;
}

/*Search Bar*/
.search-container {
    border-radius: 0.5rem;
    color: white;
    float: left; 
    
}

input[type=text] {
    padding: 14px;
    margin-left: 80px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    width: 250px;
}


.button {
    padding: 10px 14px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }